version: "3.8"

volumes:
  postgres-data: null

services:
  app:
    build:
      context: ./urlshortener
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:5000"

  db:
    container_name: composepostgres
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./url_table.sql:/docker-entrypoint-initdb.d/url_table.sql
    env_file:
      - .env
    ports:
      - "5432:5432"

  swagger:
    image: swaggerapi/swagger-ui:latest
    volumes:
      - ./urlshortener/.docs/api:/openapi
    environment:
      - SWAGGER_JSON=/openapi/openapi.yaml
    ports:
      - "8080:8080"
    restart: unless-stopped
