openapi: 3.0.0
info:
  description: An API for shortening URLs
  title: URL Shortener OpenApi
  version: 1.0.0
servers:
- url: http://localhost:8000
paths:
  /:url:
    get:
      parameters:
      - description: The short URL to redirect to its original URL
        explode: false
        in: path
        name: url
        required: true
        schema:
          type: string
        style: simple
      responses:
        "301":
          description: Redirect to the original URL
        "404":
          description: This resource could not be found 404
      summary: Redirect a short URL to its original URL
  /api/v1/create:
    post:
      description: Take a long URL and shorten it into a new short URL.
      operationId: createShortUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShortURLRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortURLData'
          description: Successful operation
        "5XX":
          content:
            application/json:
              example:
                errors:
                - Something went wrong
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: There was an unexpected error processing your request
      summary: Create a new shortened URL
  /api/v1/retrieve:
    get:
      description: Receive a long URL from a short URL
      operationId: getLongUrl
      parameters:
      - description: A shortened URL that references a long URL
        example: https://www.my-domain.com/shorturl
        explode: true
        in: query
        name: shortUrl
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongURLData'
          description: Successful operation
        "404":
          description: This resource could not be found 404
        "5XX":
          content:
            application/json:
              example:
                errors:
                - Something went wrong
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: There was an unexpected error processing your request
      summary: Get a long URL
  /api/v1/analytics:
    get:
      description: Get analytics for a short URL
      operationId: getAnalytics
      parameters:
      - description: A shortened URL that references a long URL
        example: https://www.my-domain.com/shorturl
        explode: true
        in: query
        name: shortUrl
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsData'
          description: Successful operation
        "404":
          description: This resource could not be found 404
        "5XX":
          content:
            application/json:
              example:
                errors:
                - Something went wrong
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: There was an unexpected error processing your request
      summary: Get analytics
components:
  parameters:
    ShortURLParam:
      description: A shortened URL that references a long URL
      example: https://www.my-domain.com/shorturl
      explode: true
      in: query
      name: shortUrl
      required: true
      schema:
        type: string
      style: form
  responses:
    NotFound:
      description: This resource could not be found 404
    UnexpectedError:
      content:
        application/json:
          example:
            errors:
            - Something went wrong
          schema:
            $ref: '#/components/schemas/GenericResponse'
      description: There was an unexpected error processing your request
  schemas:
    GenericResponse:
      properties:
        data:
          $ref: '#/components/schemas/GenericResponse_data'
      title: Generic API response
      type: object
    LongURLData:
      example:
        url: https://www.example.com/my-really-long-link-that-I-need-to-shorten/84378949
      properties:
        url:
          description: The long URL that will be shortened
          example: https://www.example.com/my-really-long-link-that-I-need-to-shorten/84378949
          type: string
      title: Long URL data
      type: object
    ShortURLData:
      example:
        url: "84378949"
      properties:
        url:
          description: The shortened URL
          example: "84378949"
          type: string
      title: Short URL data
      type: object
    AnalyticsData:
      example:
        redirects: 1000
      properties:
        redirects:
          description: Click analytics for shortened URL
          example: 1000
          type: integer
      title: Analytics data
      type: object
    URLData:
      properties:
        longUrl:
          description: The long URL that will be shortened
          example: https://www.example.com/my-really-long-link-that-I-need-to-shorten/84378949
          type: string
        shortUrl:
          description: The shortened URL
          example: "84378949"
          type: string
        redirects:
          description: Click analytics for shortened URL
          example: 1000
          type: integer
      title: Complete URL data
      type: object
    CreateShortURLRequest:
      properties:
        url:
          description: The long URL that will be shortened
          example: https://www.example.com/my-really-long-link-that-I-need-to-shorten/84378949
          type: string
      required:
      - url
      title: Create Short URL Request
      type: object
    GenericResponse_data:
      description: Response data
      nullable: true
      oneOf:
      - type: object
      - type: string
